/* You can add global styles to this file, and also import other style files */
body {
    background-image: url("assets/bg.jpg");
    background-color: #f6c2c4;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
